<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>vue test</title>
        <style media="screen">
        #id-table {
            border-collapse: collapse;
        }

        #id-table td {
            border: solid 2px pink;
            width: 50px;
        }

        #id-table td[contenteditable=false] {
            background: #e8e8e8;
        }
        </style>
        <script src="jquery-1.8.3.js"></script>
        <script src="vue.js"></script>
        <script src="vue-test.js"></script>
    </head>
    <body>
        <div id="vm" class="">
            <p>hello, {{name}}!</p>
            <p>you are {{age}} years old!</p>
            <p>hello, <span v-text="name"></span></p>
        </div>

        <form id="id-form" class="" action="index.html" v-on:submit.prevent="register">
            <p><input type="text" name="" value="" v-model="email" placeholder="email"></p>
            <p><input type="text" name="" value="" v-model="name" placeholder="name"></p>
            <label><input type="checkbox" v-model="language" value="zh">chinese</label>
            <label><input type="checkbox" v-model="language" value="en">english</label>
            <label><input type="checkbox" v-model="language" value="fr">french</label>
            <input type="submit" name="" value="submit">
        </form>

        <div id="id-todo" class="">
            <ol>
                <li v-for="t in todos">
                    <dl class="">
                        <dt>{{t.name}}</dt>
                        <dt>{{t.description}}</dt>
                    </dl>
                </li>
            </ol>
        </div>

        <!-- table -->
        <div class="">
            <table id="id-table">
                <thead>
                    <tr>
                        <th v-for="cell in header" v-text="cell.text"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="tr in rows">
                        <td v-for="cell in tr" v-text="cell.text" v-bind:contenteditable="cell.contentEditable"
                        v-on:click="focus(cell)" v-on:blur="change" v-bind:style="{textAlign: cell.align}"></td>
                    </tr>
                </tbody>
            </table>
            <button id="id-button-left" type="button" name="button">left</button>
            <button id="id-button-center" type="button" name="button">center</button>
            <button id="id-button-right" type="button" name="button">right</button>
        </div>

        <!-- todo component -->
        <div id="id-todo-component" class="">
            <ol>
                <todo-item v-for="item in groceryList" v-bind:todo="item" v-bind:key="item.id"></todo-item>
            </ol>
        </div>

        <!-- 计算属性 -->
        <div id="id-computed" class="">
            <p>original message: {{ message }}</p>
            <p>computed reversed message: {{ reversedMessage }}</p>
        </div>
        <!-- 计算属性 setter -->
        <div id="id-setter" class="">
            <p>{{ fullName }}</p>
        </div>

        <!-- 列表渲染一些特征，可以访问父作用域属性，可以带上第二个参数表示索引 -->
        <ul id="id-listRender">
            <li v-for="(item, index) in items">{{parentMessage}}-{{index}}-{{item.message}}</li>
        </ul>

        <!-- v-for 还可以遍历对象，也可以带参数 -->
        <ul id="id-objectRender">
            <li v-for="(value, key, index) in object">{{ index }}.{{ key }}.{{ value }}</li>
        </ul>

        <div id="id-addKey" class="">
            <p v-for="(value, key) in userProfile">{{ key }}:{{ value }}</p>
        </div>

        <!-- <div id="todo-list-example" class="">
            <form class="" v-on:submit.prevent="addNewTodo">
                <label for="new-todo">Add a todo</label>
                <input id="new-todo" type="text" v-model="newTodoText" placeholder="ju ge li zi">
                <button>add</button>
            </form>
            <ul>
                <li is="todo-list-item" v-for="(todo, index) in todos" v-bind:key="todo.id" v-bind:title="todo.title" v-on:remove="todos.splice(index, 1)"></li>
            </ul>
        </div> -->
        <div id="todo-list-example" class="" v-on:submit.prevent="addNewTodo">
            <form class="">
                <label for="new-todo">Add a todo</label>
                <input id="new-todo" type="text" name="" value="" placeholder="write something" v-model="newTodoText">
                <button name="button">Add</button>
            </form>
            <ul>
                <li is="todo-item" v-for="(item, index) in todos" v-bind:key="item.id" v-bind:title="item.title" v-bind:done="item.done" v-on:remove="todos.splice(index, 1)"></li>
            </ul>
        </div>

        <!-- 监听事件 -->
        <div id="id-event-1" class="">
            <button v-on:click="add" type="button" name="button">Add 1</button>
            <p>The button above has been clicked {{ counter }} times.</p>
        </div>

        <div id="id-event-2" class="">
            <!-- 这里第二个参数去掉 $ 符号是不行的 -->
            <!-- 但是整个 $event 不写又是可以的，疑惑 -->
            <button v-on:click="warn('Form cannot be submit yet', $event)">submit</button>
        </div>

        <!-- 表单元素 -->
        <div id="id-checkbox-example" class="">
            <input id="id-input-checkbox" type="checkbox" name="" value="" v-model="checked">
            <label for="id-input-checkbox">{{ checked }}</label>
        </div>

        <div id="id-checkbox-example2" class="">
            <input id="jack" type="checkbox" name="" value="jack" v-model="checkedName">
            <label for="jack">jack</label>
            <input id="John" type="checkbox" name="" value="John" v-model="checkedName">
            <label for="John">John</label>
            <input id="mike" type="checkbox" name="" value="mike" v-model="checkedName">
            <label for="mike">mike</label>
            <!-- radio 的话，应该绑到同一个 model 就好了 -->
            <span>Check name: {{ checkedName }}</span>
        </div>
        <!-- 上面这个例子的 value 都是固定的。有时候我们会希望他是动态生成的，这时候可以用 v-bind 实现，并且这个值可以不是字符串。
        当 value 不写的时候，绑定的 checkName 是布尔值。当 value 写着的时候，绑定的 checkName 是对应的 value 值 -->

        <!-- select -->
        <div id="id-div-select" class="">
            <select v-model="selected" class="" name="">
                <option v-for="option in options" v-bind:value="option.value">{{ option.text }}</option>
            </select>
            <span>selected: {{ selected }}</span>
        </div>

        <div id="id-dynamic-value" class="">
            <!-- <input type="radio" v-model="pick" v-bind:value="a"> -->
        </div>
    </body>
</html>
